*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

 

html{

    color:#555;

    font-family: 'Lato', 'Arial',sans-serif;

    font-size:20px;

    font-weight:300;

     text-rendering :optimizeLegibility;

}

h1{

    margin-bottom:1%;

}

 
 

.row{

    margin:0 auto;

         font-weight:900;

        color:#151514;

    

    height:80vh;

    background-size:cover;

    background-position:center;

}

.section{padding: 80px 0;
    
}

 

.button{

    display: inline-block;

    color:#fff;

    font-weight:300;

    text-decoration:none;

    padding: 10px 10px;

    background-color:#34495e;

    border-radius:200px;  

}

 

 

.more{

        font-size:20px;

    border: 1px solid ;

}

 

.button:link,

.button:active{

transition :background-color 0.2s,color 0.2s;

}

 

.button:hover,

.button:active{

transition :background-color 0.4s,color 0.2s;

}

 

.more:hover,.more.active

{

   background-color:#7f8c8d;

    color:#fff;

}

.login:hover,.login.active

{

   background-color:#7f8c8d;

    color:#fff;

}

.signup:hover,.signup.active

{

   background-color:#7f8c8d;

    color:#fff;

}

 

 

 

 

header{  

     font-weight:400;

    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg/bg.jpg);

    height:100vh;

    background-size:cover;

    background-position:center;

}

 

 

 

.heading

{

    position:absolute;

    width:1140px;

    top:50%;

    left:50%;

    transform: translate(-25%,-50%);

    font-size:200%;

    color:#fff;

    font-weight:100i;

    letter-spacing:1px;

   

    

}

 






.head{
        
    color:#fff;
        font-weight:400;

    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg/bg2.jpg);

    height:100vh;

    background-size:cover;

    background-position:center; 
    
}


